// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

header{
    background-color: black;
    color: rgb(255, 255, 255);

}
.border-footer,
.border-header{
    border-color: #fcaf17 !important;
}

body{
    height: 100%;
    background-color: rgb(11,11,11);
    color: rgb(255, 255, 255)
}

footer{
    background-color: black;
    border-color: #fcaf17;
}

.site-style{
    background-color: rgb(11,11,11) !important;
}


.link-header{
    color: #ffffff;
    background-color: black;
}

.link-header:hover{
    color: #fcaf17;
    background-color: black;
}

.link-header:focus{
    color: #fcaf17;
}

.gallery{
    max-width: 100px;
    max-height: 200px;
}
.gallery-img{
    width: 15% !important;
}
